/* Need to correct nav bars alignment */


html {
    color: -internal-root-color;
}


body {
background-color: white;
font-family: arial, sans-serif;

}

a {
    text-decoration: none;
    color: black;

}

a:hover {
    text-decoration: underline;
  }


button {
    background-color: #f2f2f2;
    border: 1px solid #f2f2f2;
    border-radius: 4px;
    color: #5F6368;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
 
}
button:hover {
    color: black;
    border: 1px solid grey;

 }

 
ul {
    list-style-type: none;
    padding:0;
    margin: auto;
   
    }


li {
    display: inline-block;
    

}
div {

    display: block;
}

#header {
    
    margin-left: 12px;
    margin-right: 12px;
    padding-bottom: 35px;
        
}

}
#topbarleft {
    float: left;
    
        
}

#topbarright {
    float: right;
    display: block;
}


#main {
    text-align: center;
    padding: 100px;


}

input[type=text] {

    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    padding: 15px;
    width: 550px;
    margin: auto;
    display: block;
    
  }


#footer {

    background-color: navajowhite;
    bottom: 0;
    position: fixed;
    height: 35px;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
    
}

#leftfooter {
    
       
    float: left;

}

#rightfooter {
    float: right;
    margin-right: 30px;
    

}
       
  